name: build-flow-os
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Hier ziehen wir uns das fertige Werkzeug-Set direkt von GitHub
    container:
      image: ghcr.io/blue-build/cli:latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Salix
        run: |
          # Das Programm ist im Container schon drin, wir rufen es nur auf
          blue-build build ./recipes/recipe.yml --no-sign
